:root.dark-theme {
    --system-color-primary: rgb(202 190 255);
    --system-color-surface-tint: rgb(202 190 255);
    --system-color-on-primary: rgb(50 32 117);
    --system-color-primary-container: rgb(79 63 147);
    --system-color-on-primary-container: rgb(238 231 255);
    --system-color-secondary: rgb(202 193 234);
    --system-color-on-secondary: rgb(50 44 76);
    --system-color-secondary-container: rgb(62 56 89);
    --system-color-on-secondary-container: rgb(212 203 244);
    --system-color-tertiary: rgb(255 173 225);
    --system-color-on-tertiary: rgb(89 17 72);
    --system-color-tertiary-container: rgb(124 49 103);
    --system-color-on-tertiary-container: rgb(255 228 241);
    --system-color-error: rgb(255 180 171);
    --system-color-on-error: rgb(105 0 5);
    --system-color-error-container: rgb(147 0 10);
    --system-color-on-error-container: rgb(255 218 214);
    --system-color-background: rgb(20 19 24);
    --system-color-on-background: rgb(230 225 233);
    --system-color-surface: rgb(20 19 24);
    --system-color-on-surface: rgb(230 225 233);
    --system-color-surface-variant: rgb(72 69 81);
    --system-color-on-surface-variant: rgb(201 196 211);
    --system-color-outline: rgb(147 143 156);
    --system-color-outline-variant: rgb(72 69 81);
    --system-color-shadow: rgb(0 0 0);
    --system-color-scrim: rgb(0 0 0);
    --system-color-inverse-surface: rgb(230 225 233);
    --system-color-inverse-on-surface: rgb(49 47 54);
    --system-color-inverse-primary: rgb(97 81 167);
    --system-color-primary-fixed: rgb(230 222 255);
    --system-color-on-primary-fixed: rgb(29 0 97);
    --system-color-primary-fixed-dim: rgb(202 190 255);
    --system-color-on-primary-fixed-variant: rgb(73 57 141);
    --system-color-secondary-fixed: rgb(230 222 255);
    --system-color-on-secondary-fixed: rgb(29 23 54);
    --system-color-secondary-fixed-dim: rgb(202 193 234);
    --system-color-on-secondary-fixed-variant: rgb(72 66 100);
    --system-color-tertiary-fixed: rgb(255 216 237);
    --system-color-on-tertiary-fixed: rgb(59 0 47);
    --system-color-tertiary-fixed-dim: rgb(255 173 225);
    --system-color-on-tertiary-fixed-variant: rgb(116 42 96);
    --system-color-surface-dim: rgb(20 19 24);
    --system-color-surface-bright: rgb(58 56 62);
    --system-color-surface-container-lowest: rgb(15 13 19);
    --system-color-surface-container-low: rgb(28 27 32);
    --system-color-surface-container: rgb(32 31 37);
    --system-color-surface-container-high: rgb(43 41 47);
    --system-color-surface-container-highest: rgb(54 52 58);
}
