:root.dark-theme {
    --system-color-primary: #cabeff;
    --system-color-surface-tint: #cabeff;
    --system-color-on-primary: #322075;
    --system-color-primary-container: #4f3f93;
    --system-color-on-primary-container: #eee7ff;
    --system-color-secondary: #cac1ea;
    --system-color-on-secondary: #322c4c;
    --system-color-secondary-container: #3e3859;
    --system-color-on-secondary-container: #d4cbf4;
    --system-color-tertiary: #ffade1;
    --system-color-on-tertiary: #591148;
    --system-color-tertiary-container: #7c3167;
    --system-color-on-tertiary-container: #ffe4f1;
    --system-color-error: #ffb4ab;
    --system-color-on-error: #690005;
    --system-color-error-container: #93000a;
    --system-color-on-error-container: #ffdad6;
    --system-color-background: #141318;
    --system-color-on-background: #e6e1e9;
    --system-color-surface: #141318;
    --system-color-on-surface: #e6e1e9;
    --system-color-surface-variant: #484551;
    --system-color-on-surface-variant: #c9c4d3;
    --system-color-outline: #938f9c;
    --system-color-outline-variant: #484551;
    --system-color-shadow: #000000;
    --system-color-scrim: #000000;
    --system-color-inverse-surface: #e6e1e9;
    --system-color-inverse-on-surface: #312f36;
    --system-color-inverse-primary: #6151a7;
    --system-color-primary-fixed: #e6deff;
    --system-color-on-primary-fixed: #1d0061;
    --system-color-primary-fixed-dim: #cabeff;
    --system-color-on-primary-fixed-variant: #49398d;
    --system-color-secondary-fixed: #e6deff;
    --system-color-on-secondary-fixed: #1d1736;
    --system-color-secondary-fixed-dim: #cac1ea;
    --system-color-on-secondary-fixed-variant: #484264;
    --system-color-tertiary-fixed: #ffd8ed;
    --system-color-on-tertiary-fixed: #3b002f;
    --system-color-tertiary-fixed-dim: #ffade1;
    --system-color-on-tertiary-fixed-variant: #742a60;
    --system-color-surface-dim: #141318;
    --system-color-surface-bright: #3a383e;
    --system-color-surface-container-lowest: #0f0d13;
    --system-color-surface-container-low: #1c1b20;
    --system-color-surface-container: #201f25;
    --system-color-surface-container-high: #2b292f;
    --system-color-surface-container-highest: #36343a;

    color-scheme: dark;
}
