:root {
    --system-color-primary: rgb(68 52 136);
    --system-color-surface-tint: rgb(97 81 167);
    --system-color-on-primary: rgb(255 255 255);
    --system-color-primary-container: rgb(105 89 175);
    --system-color-on-primary-container: rgb(255 255 255);
    --system-color-secondary: rgb(96 90 125);
    --system-color-on-secondary: rgb(255 255 255);
    --system-color-secondary-container: rgb(227 218 255);
    --system-color-on-secondary-container: rgb(72 65 99);
    --system-color-tertiary: rgb(111 37 91);
    --system-color-on-tertiary: rgb(255 255 255);
    --system-color-tertiary-container: rgb(153 73 129);
    --system-color-on-tertiary-container: rgb(255 255 255);
    --system-color-error: rgb(186 26 26);
    --system-color-on-error: rgb(255 255 255);
    --system-color-error-container: rgb(255 218 214);
    --system-color-on-error-container: rgb(65 0 2);
    --system-color-background: rgb(253 248 255);
    --system-color-on-background: rgb(28 27 32);
    --system-color-surface: rgb(253 248 255);
    --system-color-on-surface: rgb(28 27 32);
    --system-color-surface-variant: rgb(230 224 239);
    --system-color-on-surface-variant: rgb(72 69 81);
    --system-color-outline: rgb(121 117 130);
    --system-color-outline-variant: rgb(201 196 211);
    --system-color-shadow: rgb(0 0 0);
    --system-color-scrim: rgb(0 0 0);
    --system-color-inverse-surface: rgb(49 47 54);
    --system-color-inverse-on-surface: rgb(244 239 247);
    --system-color-inverse-primary: rgb(202 190 255);
    --system-color-primary-fixed: rgb(230 222 255);
    --system-color-on-primary-fixed: rgb(29 0 97);
    --system-color-primary-fixed-dim: rgb(202 190 255);
    --system-color-on-primary-fixed-variant: rgb(73 57 141);
    --system-color-secondary-fixed: rgb(230 222 255);
    --system-color-on-secondary-fixed: rgb(29 23 54);
    --system-color-secondary-fixed-dim: rgb(202 193 234);
    --system-color-on-secondary-fixed-variant: rgb(72 66 100);
    --system-color-tertiary-fixed: rgb(255 216 237);
    --system-color-on-tertiary-fixed: rgb(59 0 47);
    --system-color-tertiary-fixed-dim: rgb(255 173 225);
    --system-color-on-tertiary-fixed-variant: rgb(116 42 96);
    --system-color-surface-dim: rgb(221 216 224);
    --system-color-surface-bright: rgb(253 248 255);
    --system-color-surface-container-lowest: rgb(255 255 255);
    --system-color-surface-container-low: rgb(247 242 250);
    --system-color-surface-container: rgb(241 236 244);
    --system-color-surface-container-high: rgb(235 230 238);
    --system-color-surface-container-highest: rgb(230 225 233);
}
