:root {
    --system-color-primary: #443488;
    --system-color-primary-variant: #4d3e92;
    --system-color-surface-tint: #6151a7;
    --system-color-on-primary: #ffffff;
    --system-color-primary-container: #6959af;
    --system-color-on-primary-container: #ffffff;
    --system-color-secondary: #605a7d;
    --system-color-on-secondary: #ffffff;
    --system-color-secondary-container: #e3daff;
    --system-color-secondary-container-variant: #dad2f7;
    --system-color-on-secondary-container: #484163;
    --system-color-tertiary: #6f255b;
    --system-color-on-tertiary: #ffffff;
    --system-color-tertiary-container: #994981;
    --system-color-on-tertiary-container: #ffffff;
    --system-color-error: #ba1a1a;
    --system-color-on-error: #ffffff;
    --system-color-error-container: #ffdad6;
    --system-color-on-error-container: #410002;
    --system-color-valid: #198754;
    --system-color-background: #fdf8ff;
    --system-color-on-background: #1c1b20;
    --system-color-surface: #fdf8ff;
    --system-color-on-surface: #1c1b20;
    --system-color-surface-variant: #e6e0ef;
    --system-color-on-surface-variant: #484551;
    --system-color-outline: #797582;
    --system-color-outline-variant: #c9c4d3;
    --system-color-shadow: #000000;
    --system-color-scrim: #000000;
    --system-color-inverse-surface: #312f36;
    --system-color-inverse-on-surface: #f4eff7;
    --system-color-inverse-primary: #cabeff;
    --system-color-primary-fixed: #e6deff;
    --system-color-on-primary-fixed: #1d0061;
    --system-color-primary-fixed-dim: #cabeff;
    --system-color-on-primary-fixed-variant: #49398d;
    --system-color-secondary-fixed: #e6deff;
    --system-color-on-secondary-fixed: #1d1736;
    --system-color-secondary-fixed-dim: #cac1ea;
    --system-color-on-secondary-fixed-variant: #484264;
    --system-color-tertiary-fixed: #ffd8ed;
    --system-color-on-tertiary-fixed: #3b002f;
    --system-color-tertiary-fixed-dim: #ffade1;
    --system-color-on-tertiary-fixed-variant: #742a60;
    --system-color-surface-dim: #ddd8e0;
    --system-color-surface-bright: #fdf8ff;
    --system-color-surface-container-lowest: #ffffff;
    --system-color-surface-container-low: #f7f2fa;
    --system-color-surface-container: #f1ecf4;
    --system-color-surface-container-high: #ebe6ee;
    --system-color-surface-container-highest: #e6e1e9;

    color-scheme: light;
}
