// Text Size
@each $size, $font in $typography {
    .atma-text--#{$size} {
        font-size: map-get($font, 'size');
        line-height: map-get($font, 'height');
    }
}

// Text Weight
@for $i from 1 through 9 {
    .atma-text--#{$i * 100} {
        font-weight: ($i * 100);
    }
}
