@mixin text($size, $weight: normal) {
    font-size: $size;
    font-weight: $weight;
    line-height: map-get($line-height, #{$size});
}

.atma-pulse {
    animation: pulse 1.6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}
