.root {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    display: flex;
}

.sidebar {
    width: 260px;
}

.side-navbar {
    position: fixed;
    top: 0;
    bottom: 0;

    width: 260px;
    padding: 0 32px;

    display: flex;
    flex-direction: column;

    .brand {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        gap: 12px;

        > img {
            width: 32px;
            height: 32px;
        }

        &-name {
            @include text(20px, 700);
            color: var(--system-color-primary);
        }
    }

    nav {
        width: 100%;
        margin: 16px 0 auto;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .nav-item {
        margin: 0 -16px 0 -32px;
        padding: 10px 32px;

        display: flex;
        align-items: center;
        gap: 16px;

        border-radius: 24px;

        text-decoration: none;

        color: var(--system-color-outline);

        .nav-title {
            @include text(18px, 500);
        }

        &:hover:not(.nav-item--active) {
            background: var(--system-color-surface-container-high);
        }

        &--active {
            background: var(--system-color-secondary-container);
            color: var(--system-color-primary);

            .nav-title {
                font-weight: 600;
            }
        }
    }
}

.content {
    width: 600px;
    min-height: 100vh;
    padding: 0 16px;
}

.title-bar-wrapper {
    height: 64px;
    margin: 0 -16px 16px;
}

.title-bar {
    width: 100%;
    max-width: 600px;
    height: 64px;

    top: 0;
    padding: 0 16px;
    margin-left: -1px;

    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;

    background: var(--system-color-surface-container);
    color: var(--system-color-on-surface);

    &__icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        color: var(--system-color-on-surface);
    }

    &__text {
        flex: 1;
        padding-right: 24px;
        text-align: center;

        @include text(20px, 600);

        &:only-child {
            padding-right: 0;
        }
    }
}

.utility-bar {
    width: 340px;
    padding: 0 32px 0 8px;

    .header {
        height: 64px;
        margin-bottom: 16px;
    }

    .header-wrapper {
        position: fixed;
        top: 0;
        z-index: 100;

        width: 300px;
        height: 64px;

        display: flex;
        align-items: center;
        justify-content: flex-end;

        background: var(--system-color-surface-container);
    }
}

.bottom-spacer {
    height: 24px;
}

.bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 12px 0;

    // Not Shown on Desktop
    display: none;
    align-items: center;
    justify-content: center;

    background: var(--system-color-surface);

    &__wrapper {
        width: 100%;
        max-width: 500px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        > div {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__item {
        padding: 0 8px;

        text-decoration: none;
        text-align: center;

        color: var(--system-color-on-surface-variant);

        &-icon {
            margin-bottom: 4px;
            width: 64px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
        }

        &--active {
            color: var(--system-color-on-secondary-container);

            .bottom-navbar__item-icon {
                background: var(--system-color-secondary-container);
            }

            .bottom-navbar__item-title {
                font-weight: 600;
            }
        }
    }

    &__item-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width: 1240px) {
    .root {
        max-width: 1036px;
    }
    .sidebar {
        width: 96px;
    }

    .side-navbar {
        width: 96px;
        align-items: center;

        .brand-name,
        .nav-title {
            display: none;
        }

        .nav-item {
            margin: 0 -8px;
            padding: 12px 0;
            justify-content: center;
        }
    }
}

@media (max-width: 1035px) {
    .root {
        max-width: 696px;
    }

    .utility-bar {
        display: none;
    }
}

@media (max-width: 695px) {
    .root {
        max-width: none;
    }

    .content {
        width: 100%;
        border: 0;
    }

    .title-bar {
        max-width: none;
        border-left: unset;
        border-right: unset;
        margin: 0;
    }

    .sidebar {
        display: none;
    }

    .bottom-navbar {
        display: flex;
    }

    .bottom-spacer {
        height: 96px;
    }
}
